//- email_template.pug
//- account email, time, device, ip
html()
  head()
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style(type="text/css").
      body {
        background: #fff;
        color: #3a3a3a;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
          Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
      }
      .main {
        max-width: 720px;
        margin: auto;
        padding: 10px;
      }
      .warning {
        color: #f59e0b;
      }
      .info {
        background-color: rgb(240, 240, 240);
        padding: 20px;
        list-style: none;
      }
      .link_wrapper {
        padding-top: 8px;
        text-align: center;
      }
      .link {
        color: #15c;
        background: rgba(17, 86, 204, 0.2);
        border: 2px solid #15c;
        font-weight: 600;
        padding: 8px 16px;
        text-decoration: none;
      }
  body()
    div(class='main')
      h1 Lini
      h3 Please complete the login process by clicking confirm.
      p(class='warning') If you did not request a magic link, please ignore this email.
      ul(class='info')
        li <strong>Account</strong>: #{email}
        li <strong>When:</strong> #{date}
        li <strong>Device:</strong> #{userAgent}
        li <strong>IP:</strong> #{ip}
      div(class='link_wrapper')
        a(class='link', href=link) Login
